
.elements {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    flex-wrap: wrap;
    padding: 10rem;
    gap: 80px;
    list-style: none;
   
}

.elements-container {
    list-style: none;
   
    
}
body {
    background-image: url(/img/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 90px;
    width: 100%;
}
